.productCard {
  padding: 17px 13.51px 16px 12.39px;
  width: 304px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 3px 19px 0 rgba(0, 0, 0, 0.22);

  img {
    width: 278.1px;
    margin-top: 13px;
    height: 228px;
  }

  .productName {
    font-size: var(--fs-350);
    color: var(--clr-gray-dark);
    font-weight: var(--fw-light);
    line-height: 100%;
    margin-top: 0;  
  }

  .priceDiscounted {
    font-size: var(--fs-500);
    color: var(--clr-gray-dark);
    font-weight: var(--fw-bold);
    margin-top: 12px; 

    span {
      font-size: var(--fs-400);
      color: var(--clr-medium-gray);
      font-weight: var(--fw-regular);
      margin-bottom: 2px; 
    }
  }

  .priceInstallments {
    font-size: var(--fs-200);
    color: var(--clr-gray-dark);
    font-weight: var(--fw-regular);
    margin-top: 2px; 
  }

  p {
    font-size: var(--fs-200);
    color: var(--clr-blue);
    font-weight: var(--fw-regular);
    margin-top: 7px;  
    margin-bottom: 12px;  
  }
}

@media (max-width: 768px) {
  .productCard {
    width: 100%; 
    max-width: 500px; 
  }
}