.containerPartner {
  width: 95%;
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  margin-bottom: 90px;
  gap: 13px;

  .partner { 
    width: 634px;
    height: 350px;
    background-image: url("/images/partner.png");
    border-radius: 20px;
    padding-top: 89px;
  
    div {
      object-fit: cover;
      height: 261px;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0) 100%);
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
      padding-left: 44.18px;
      padding-top: 25px;
      
      h5{
        font-size: var(--fs-800);
        font-weight: var(--fw-bold);
        color: var(--clr-white);
        margin-bottom: 8px;
        height: 60px;
      }

      p{
        font-size: var(--fs-450);
        font-weight: var(--fw-light);
        color: var(--clr-white);
        width: 199px;
        height: 48px;
        margin-bottom: 32px;
      }

      button{
        width: 144.69px;
        height: 48px;
        font-size: var(--fs-400);
        font-weight: var(--fw-bold);
      }
    }
  }
  
  @media (max-width: 769px) {
    flex-direction: column;
    height: auto; 
    padding: 20px; 
    gap: 10px;

    & > * {
      width: 90%; 
      max-width: 400px; 
    }
  }
}
