.embla {
  position: relative;
  width: 100%;
  margin-inline: auto;

  .embla__viewport {
    padding: 20px 10px;
    width: 100%;
    margin-inline: auto;
    overflow: hidden;
  }

  .embla__container {
    display: flex;
    gap: 12px;
  }

  .embla__slide {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .embla__next,
  .embla__prev {
    display: none;
  }

  @media (min-width: 769px) {
    .embla__viewport {
      padding: 25px 15px;
      width: 98%;
    }

    .embla__container {
      gap: 15px;
    }

    .embla__slide {
      flex: 0 0 calc(50% - 0.75rem);
    }

    .embla__next,
    .embla__prev {
      display: block;
      background-color: var(--clr-light-gray);
      color: var(--clr-black);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border: none;
      cursor: pointer;
      padding: 0.4rem 0.65rem;
      border-radius: 50%;
      font-size: 1.1rem;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
      z-index: 2;
      transition: background-color 0.2s ease-in-out;

      &:hover,
      &:focus {
        background-color: var(--clr-light-gray-2);
      }
    }

    .embla__prev {
      left: -0.5rem;
    }

    .embla__next {
      right: -0.5rem;
    }
  }

  @media (min-width: 1025px) {
    .embla__viewport {
      padding: 30px;
    }

    .embla__container {
      gap: 18px;
    }

    .embla__slide {
      flex: 0 0 calc(25% - 1.125rem);
    }

    .embla__next,
    .embla__prev {
      padding: 0.5rem 0.75rem;
      font-size: 1.25rem;
    }

    .embla__prev {
      left: -1rem;
    }

    .embla__next {
      right: -1.5rem;
    }
  }
}